$yellow-top-border-background:rgb(235, 235, 14);
$img-background:yellow;
$img-border:rgb(54, 52, 52);
$img-hover:rgb(161, 11, 11);
$black-background:black;
$h2-color:yellow;
$p-color:white;
$label-color:white;
$button-background:yellow;
$yellow-background:yellow;
$gray-background:rgba(64, 138, 119, 0.63);