* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellow-top-border {
  padding: 1.5rem;
  background-color: #ebeb0e;
  width: auto;
}

.top-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0rem;
}

.top-heading .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.9rem 0rem;
}

.top-heading .heading-para {
  width: 40rem;
  text-align: center;
}

.top-heading p {
  padding-top: 1rem;
  text-align: center;
}

.circles-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: none;
  margin: 5rem 0rem;
}

.circles-img .circles p {
  width: 8.8rem;
  text-align: center;
}

.circles-img .circles img {
  width: 8rem;
  height: 8rem;
  background-color: yellow;
  border: 5px solid #363434;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.circles-img .circles img:hover {
  outline: none;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: 3.3s ease;
  transition: 3.3s ease;
  -webkit-box-shadow: 0 0 52rem #a10b0b;
          box-shadow: 0 0 52rem #a10b0b;
}

.black-background {
  background-color: black;
  height: auto;
  padding: 5rem;
}

.black-background .heading h2 {
  text-align: center;
  color: yellow;
  padding-top: 2rem;
  font-size: 2rem;
}

.black-background .heading p {
  color: white;
  text-align: center;
  padding-top: 0.8rem;
}

.black-background .inputs-one, .black-background .inputs-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.black-background .inputs-one .first label, .black-background .inputs-two .first label, .black-background .inputs-one .second label, .black-background .inputs-two .second label {
  font-size: 1.3rem;
  color: white;
}

.black-background .inputs-one .first input[type="text"], .black-background .inputs-two .first input[type="text"], .black-background .inputs-one .second input[type="text"], .black-background .inputs-two .second input[type="text"] {
  width: 25rem;
  padding: 0.8rem;
  font-size: 1rem;
}

.black-background .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.black-background .button button {
  font-size: 1rem;
  padding: 1rem;
  width: 11rem;
  text-align: center;
  cursor: pointer;
  background-color: yellow;
  border: none;
  font-weight: 600;
}

.black-background .button p {
  color: white;
  padding-top: 1rem;
}

.background-yellow {
  background-color: yellow;
  height: auto;
  padding: 5rem;
}

.background-yellow .first-row, .background-yellow .second-row {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.background-yellow .first-row .content p, .background-yellow .second-row .content p {
  width: 14rem;
}

.white-section {
  padding: 3.5rem;
}

.white-section h4 {
  text-align: center;
  font-size: 2rem;
}

.white-section .brands-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.white-section .brands-name .circles {
  padding: 3rem;
}

.white-section .brands-name .circles img {
  padding: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: yellow;
  border: 5px solid #363434;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.white-section .brands-name .circles img:hover {
  outline: none;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: 3.3s ease;
  transition: 3.3s ease;
  -webkit-box-shadow: 0 0 52rem #a10b0b;
          box-shadow: 0 0 52rem #a10b0b;
}

.section-gray {
  height: auto;
  padding: 3rem;
  background-color: rgba(64, 138, 119, 0.63);
}

.section-gray .question h4 {
  font-size: 2rem;
  padding: 1rem;
}

.section-gray .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-gray .footer .section-ul {
  padding: 2rem;
}

.section-gray .footer .section-ul h5 {
  font-size: 1.2rem;
}

.section-gray .footer .section-ul li {
  padding: 0.2rem;
  list-style-type: none;
}

@media (max-width: 800px) {
  .top-heading .heading-para {
    width: 22rem;
  }
  .circles-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .circles-img .circles {
    margin-top: 1.4rem;
  }
  .black-background {
    height: auto;
  }
  .black-background .inputs-one, .black-background .inputs-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .black-background .inputs-one .first input[type="text"], .black-background .inputs-two .first input[type="text"], .black-background .inputs-one .second input[type="text"], .black-background .inputs-two .second input[type="text"] {
    width: 20rem;
    padding: 0.8rem;
    font-size: 1rem;
    margin: 1rem 0rem;
  }
  .inputs-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button {
    padding-bottom: 4rem;
  }
  .background-yellow {
    height: 130vh;
  }
  .background-yellow .first-row, .background-yellow .second-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .background-yellow .first-row .content, .background-yellow .second-row .content {
    padding: 1rem 0rem;
  }
  .brands-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=index.css.map */